In [ ]:
#python is a high level dynamically typed interpreted general purpose programming language
'''Python is a high-level, interpreted, general-purpose programming language known for its simple syntax and powerful capabilities. 
It is one of the most popular languages in the world because beginners can learn it easily, and professionals can build advanced applications with it.'''
"""
Created by: Guido van Rossum
Started: 1989 (Christmas holidays project)
First release: 1991 (Python 0.9.0)
Python 2.0 released: 2000
Python 3.0 released: 2008 (major improvements)
"""
#Why the name “Python”?
#Guido van Rossum was reading scripts from the British comedy show “Monty Python’s Flying Circus” and wanted a fun name — so he named the language Python
#python is case sensitive(upper case and lower cases are different)

In [ ]:
#Comments:-Comments are the lines of code that are skipped for execution by interpreter.
#-single line comment
'''multiline comments'''
"""this is also mutli line comment """

In [19]:
#Data Types 
"""Data types define the type of data a variable can store"""
#Numeric Category
#integer(integer data type is used to store the integer data)
a=20;
print(a);
type(a)

20

int

In [21]:
#Float(float data type is used to store floatting values)
a=30.2
print(a)
type(a)

30.2

float

In [30]:
#Complex(complex data type means combination of integer and floating data )
z = 2 + 3j
print(z)
type(z)

(2+3j)

complex

In [32]:
#ordered Data types[group of elements in same order]
#String(string data types is used to store charecters)
a="vinod"
print(a)
type(a)

vinod

str

In [33]:
#list[]
'''
A list is a collection of items that is:
Ordered
Mutable (can be changed)
Allows duplicate values
Written using square brackets [ ]
'''
a=[1,2,3]
print(a)
type(a)

[1, 2, 3]

list

In [34]:
#tuple()
'''A tuple is similar to a list but:
Ordered
Immutable (cannot be changed)
Allows duplicates
Written using parentheses ( )'''
a=(20,30)
print(a)
type(a)

(20, 30)

tuple

In [50]:
#Range The range() function is used to generate a sequence of numbers.
for i in range(1, 5):
    print(i)

1
2
3
4

In [51]:
#unordered data types{group of elements different order}
#set
a={1,4,6,6,7}
print(a)
type(a)

{1, 4, 6, 7}

set

In [52]:
#mapping data types
# Dictionary( A dictionary stores data in key–value pairs)
a={'a':1,'b':2}
print(a)
type(a)

{'a': 1, 'b': 2}

dict

In [55]:
#boolean data type(true /false)
a=10;
b=20;
print(a>b)
print(b>a)

False
True

In [57]:
#variable
# A variable is used to store data that can be used and changed later in a program.
a=20;
b="vinod";
print(a,b)

20 vinod

In [58]:
#Type --type() is a built-in function used to find the data type of a value or variable.
a=20
type(a)

int

In [63]:
#swapping
a=10;
b=20;
c=a;
a=b;
b=c;
print(a,b)

20 10

In [66]:
#delete 
a=10;
del(a)